h2{
    color:#7C1CD8;
}
#h2{
    color:#6d6d6d;
}
p{
    font-size: 20px;
    color:#6d6d6d;
}
#input{
    width:200px;
}
.chooseFile{
    visibility: hidden;
}
.fileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.submitButton {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
    color:#7C1CD8;
    background-color: #EDEAFF;
    border-radius: 30px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border-style: none;
}
.fileInput {
    display: flex;
    align-items: center;
    border-bottom: solid 2px black;
    width: 60%;
    height: 30px;
}
label{
    color:#7C1CD8;
    font-weight: bold;
    font-size: 20px;
}
.button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
a{
    display: block;
    padding: 6px 18px;
    text-transform: uppercase;
    font-weight: bold;
    color:#6D6D6D;

}

a:hover {
    color:#7C1CD8;
    background: #EDEAFF;
}
#example{
    width:fit-content;
    font-size: 25px;
}
#title{
    font-size: 30px;
    font-weight: bold;
}
.li{
    list-style-type: none;
    margin: 10px;
    font-size: 20px;
    color:#7C1CD8;
    font-weight: bold;
}
#li{
    color:#7C1CD8;
    font-weight: bold;
    margin-left: 30px;
}
fieldset{
    border-width: 4px;
    border-color: #EDEAFF;
    width: 1;
}
#text{
    text-align: center;
}
#wrap{
    width: 1200px;
}
body{
    padding: 50px;
    display: flex;
    justify-content: center;
}
#file{
    display: flex;
    justify-content: center
}
#p{
    margin: 50px;
    color:#6D6D6D;
    font-size: 30px;
    font-weight: bold;
}
#submit{
    width:130px;
    height:60px;
    background-color: #EDEAFF;
    color: #7C1CD8;
    border-style: none;
    border-radius: 20px;
    font-size: 25px;
    font-weight: bold;
    margin:auto;
    display: block;
}
